[Unit]
Description=Running tomcat from jar
ConditionPathExists=/home/ec2-user/tomcat.sh

[Service]
Type=forking
ExecStart=/home/ec2-user/tomcat.sh start
ExecStop=pkill java
TimeoutSec=0
StandardOutput=tty
RemainAfterExit=yes
SysVStartPriority=99

[Install]
WantedBy=multi-user.target
